.radio {
    width: auto;
    height: auto;
}

form {
    background-color: azure;
    width: 280px;
    height: 500px;
    padding: 0px 75px;
    position: absolute;
    top: 15%;
    left: 65%;
    border-radius: 5px;


}

label {
    display: block;
}

body {
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    background-size: cover;
    height: 100vh;
    width: 90vw;
    background-repeat: no-repeat;
    font-family: 'Exo 2', sans-serif;
}

.radio {
    margin-top: -15px;
    margin-left: -10px;
}


button {
    background-color: rgb(250, 80, 18);
    color: white;
    height: 55px;
    width: 200px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;

}

h1 {
    width: 330px;
    text-align: center;
    margin-left: -20px;
}

.label {
    margin-top: 20px;
}

#select {
    width: 300px;
    height: 30px;
}

#space {
    width: 300px;
    height: 30px;
}

#mail {
    width: 300px;
    height: 30px;
}

.img1 {
    width: 500px;
    height: 500px;
    animation: float 3s ease-in infinite;

}

.img2 {
    width: 400px;
    height: 400px;
    margin-left: -40px;
    margin-top: 100px;
    animation: float 3s ease-in infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }
}